.m-title{
    color: $dark;
}

.text-center{
    text-align: center;
}

.text-grey{
    color: $grey;
}

.text-success{
    color: $success;
}

.ml-1{
    margin-left: .5rem;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.mb-1{
    margin-bottom: 1rem;
}